<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oruit.app.dao.CashRecordMapper" >
  <resultMap id="BaseResultMap" type="com.oruit.app.dao.model.CashRecord" >
    <id column="record_id" property="recordId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="payee" property="payee" jdbcType="VARCHAR" />
    <result column="alipay_id" property="alipayId" jdbcType="VARCHAR" />
    <result column="wechat_prepay_id" property="wechatPrepayId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="CounterFee" property="counterfee" jdbcType="DECIMAL" />
    <result column="complete_time" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="card_number" property="cardNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    record_id, user_id, payee, alipay_id, wechat_prepay_id, amount, type, CounterFee,
    complete_time, state, remark, ip, update_time, create_time, card_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from cash_record
    where record_id = #{recordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cash_record
    where record_id = #{recordId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oruit.app.dao.model.CashRecord" >
    insert into cash_record (record_id, user_id, payee,
    alipay_id, wechat_prepay_id, amount,
    type, CounterFee, complete_time,
    state, remark, ip,
    update_time, create_time, card_number
    )
    values (#{recordId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{payee,jdbcType=VARCHAR},
    #{alipayId,jdbcType=VARCHAR}, #{wechatPrepayId,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL},
    #{type,jdbcType=INTEGER}, #{counterfee,jdbcType=DECIMAL}, #{completeTime,jdbcType=TIMESTAMP},
    #{state,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
    #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{cardNumber,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.oruit.app.dao.model.CashRecord" >
    insert into cash_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="payee != null" >
        payee,
      </if>
      <if test="alipayId != null" >
        alipay_id,
      </if>
      <if test="wechatPrepayId != null" >
        wechat_prepay_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="counterfee != null" >
        CounterFee,
      </if>
      <if test="completeTime != null" >
        complete_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="cardNumber != null" >
        card_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="payee != null" >
        #{payee,jdbcType=VARCHAR},
      </if>
      <if test="alipayId != null" >
        #{alipayId,jdbcType=VARCHAR},
      </if>
      <if test="wechatPrepayId != null" >
        #{wechatPrepayId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="counterfee != null" >
        #{counterfee,jdbcType=DECIMAL},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardNumber != null" >
        #{cardNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oruit.app.dao.model.CashRecord" >
    update cash_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="payee != null" >
        payee = #{payee,jdbcType=VARCHAR},
      </if>
      <if test="alipayId != null" >
        alipay_id = #{alipayId,jdbcType=VARCHAR},
      </if>
      <if test="wechatPrepayId != null" >
        wechat_prepay_id = #{wechatPrepayId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="counterfee != null" >
        CounterFee = #{counterfee,jdbcType=DECIMAL},
      </if>
      <if test="completeTime != null" >
        complete_time = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cardNumber != null" >
        card_number = #{cardNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oruit.app.dao.model.CashRecord" >
    update cash_record
    set user_id = #{userId,jdbcType=VARCHAR},
      payee = #{payee,jdbcType=VARCHAR},
      alipay_id = #{alipayId,jdbcType=VARCHAR},
      wechat_prepay_id = #{wechatPrepayId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      type = #{type,jdbcType=INTEGER},
      CounterFee = #{counterfee,jdbcType=DECIMAL},
      complete_time = #{completeTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      card_number = #{cardNumber,jdbcType=VARCHAR}
    where record_id = #{recordId,jdbcType=INTEGER}
  </update>
  <select id="QueryCashRecord" resultType="map" parameterType="java.lang.String" >
    SELECT
      cash_record.record_id AS recordid,
      cash_record.type AS type,
      cash_record.amount AS money,
      cash_record.state,
      cash_record.create_time AS date
    FROM
      cash_record
    WHERE user_id = #{userId,jdbcType=VARCHAR}
  </select>
<!--提现到银行卡的记录-->
  <select id="BankCardWithdrawalsList" resultType="map" parameterType="map" >
    SELECT
      cash_record.record_id AS recordid,
      cash_record.amount AS  money,
      cash_record.create_time AS datetimes,
      cash_record.state,
      cash_record.remark
    FROM
      cash_record
    WHERE cash_record.user_id = #{userid}
    AND cash_record.type = 3
    <if test="recordid != 0" >
    AND cash_record.record_id <![CDATA[<]]> #{recordid}
    </if>
    ORDER BY cash_record.record_id DESC
    LIMIT 0,#{pageSize}
  </select>

  <select id="queryUsercashrecord" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from cash_record
    where record_id = #{recordid,jdbcType=INTEGER}
    AND user_id = #{userid,jdbcType=VARCHAR}
  </select>

</mapper>