<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oruit.app.dao.KuaileshifenPrizeMapper" >
  <resultMap id="BaseResultMap" type="com.oruit.app.dao.model.KuaileshifenPrize" >
    <id column="open_id" property="openId" jdbcType="INTEGER" />
    <result column="caipiao_id" property="caipiaoId" jdbcType="INTEGER" />
    <result column="open_date" property="openDate" jdbcType="VARCHAR" />
    <result column="dead_line" property="deadLine" jdbcType="VARCHAR" />
    <result column="issue_no" property="issueNo" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="refer_number" property="referNumber" jdbcType="VARCHAR" />
    <result column="sale_amount" property="saleAmount" jdbcType="DECIMAL" />
    <result column="total_money" property="totalMoney" jdbcType="DECIMAL" />
    <result column="prize" property="prize" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    open_id, caipiao_id, open_date, dead_line, issue_no, number, refer_number, sale_amount,
    total_money, prize, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from kuaileshifen_prize
    where open_id = #{openId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kuaileshifen_prize
    where open_id = #{openId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oruit.app.dao.model.KuaileshifenPrize" >
    insert into kuaileshifen_prize (open_id, caipiao_id, open_date,
    dead_line, issue_no, number,
    refer_number, sale_amount, total_money,
    prize, create_time)
    values (#{openId,jdbcType=INTEGER}, #{caipiaoId,jdbcType=INTEGER}, #{openDate,jdbcType=VARCHAR},
    #{deadLine,jdbcType=VARCHAR}, #{issueNo,jdbcType=VARCHAR}, #{number,jdbcType=VARCHAR},
    #{referNumber,jdbcType=VARCHAR}, #{saleAmount,jdbcType=DECIMAL}, #{totalMoney,jdbcType=DECIMAL},
    #{prize,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.oruit.app.dao.model.KuaileshifenPrize" >
    insert into kuaileshifen_prize
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        open_id,
      </if>
      <if test="caipiaoId != null" >
        caipiao_id,
      </if>
      <if test="openDate != null" >
        open_date,
      </if>
      <if test="deadLine != null" >
        dead_line,
      </if>
      <if test="issueNo != null" >
        issue_no,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="referNumber != null" >
        refer_number,
      </if>
      <if test="saleAmount != null" >
        sale_amount,
      </if>
      <if test="totalMoney != null" >
        total_money,
      </if>
      <if test="prize != null" >
        prize,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        #{openId,jdbcType=INTEGER},
      </if>
      <if test="caipiaoId != null" >
        #{caipiaoId,jdbcType=INTEGER},
      </if>
      <if test="openDate != null" >
        #{openDate,jdbcType=VARCHAR},
      </if>
      <if test="deadLine != null" >
        #{deadLine,jdbcType=VARCHAR},
      </if>
      <if test="issueNo != null" >
        #{issueNo,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="referNumber != null" >
        #{referNumber,jdbcType=VARCHAR},
      </if>
      <if test="saleAmount != null" >
        #{saleAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalMoney != null" >
        #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="prize != null" >
        #{prize,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.oruit.app.dao.model.KuaileshifenPrize" >
    update kuaileshifen_prize
    <set >
      <if test="caipiaoId != null" >
        caipiao_id = #{caipiaoId,jdbcType=INTEGER},
      </if>
      <if test="openDate != null" >
        open_date = #{openDate,jdbcType=VARCHAR},
      </if>
      <if test="deadLine != null" >
        dead_line = #{deadLine,jdbcType=VARCHAR},
      </if>
      <if test="issueNo != null" >
        issue_no = #{issueNo,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="referNumber != null" >
        refer_number = #{referNumber,jdbcType=VARCHAR},
      </if>
      <if test="saleAmount != null" >
        sale_amount = #{saleAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalMoney != null" >
        total_money = #{totalMoney,jdbcType=DECIMAL},
      </if>
      <if test="prize != null" >
        prize = #{prize,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where open_id = #{openId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oruit.app.dao.model.KuaileshifenPrize" >
    update kuaileshifen_prize
    set caipiao_id = #{caipiaoId,jdbcType=INTEGER},
    open_date = #{openDate,jdbcType=VARCHAR},
    dead_line = #{deadLine,jdbcType=VARCHAR},
    issue_no = #{issueNo,jdbcType=VARCHAR},
    number = #{number,jdbcType=VARCHAR},
    refer_number = #{referNumber,jdbcType=VARCHAR},
    sale_amount = #{saleAmount,jdbcType=DECIMAL},
    total_money = #{totalMoney,jdbcType=DECIMAL},
    prize = #{prize,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP}
    where open_id = #{openId,jdbcType=INTEGER}
  </update>
  <select id="queryWinklsf" resultType="map"  >
    SELECT
      caipiao.caipiao_id AS lotterytypeid,
      caipiao.caipiao_name AS lotteryname,
      caipiao.caipiao_icon AS  lotterycatalogicon,
      kuaileshifen_prize.open_date AS resultdate,
      kuaileshifen_prize.open_id AS lotteryid,
      kuaileshifen_prize.issue_no AS issueno,
      kuaileshifen_prize.refer_number AS refernumber,
      kuaileshifen_prize.number as winnumber
    FROM
      caipiao JOIN
      kuaileshifen_prize ON caipiao.caipiao_id = kuaileshifen_prize.caipiao_id
                            and caipiao.state = 1
                            and caipiao.caipiao_id = 114
    ORDER BY kuaileshifen_prize.open_date DESC
    LIMIT 1

  </select>

  <!--开奖历史-->
  <select id="KLSFHistoryList" resultType="map" parameterType="map" >
    SELECT
      DISTINCT kuaileshifen_prize.issue_no AS issueno,
      kuaileshifen_prize.caipiao_id AS lotterytypeid,
      kuaileshifen_prize.open_id AS lotteryid,
      kuaileshifen_prize.open_date AS resultdate ,
      kuaileshifen_prize.number AS winnumber,
      kuaileshifen_prize.refer_number AS refernumber
    FROM
      kuaileshifen_prize
    WHERE
      kuaileshifen_prize.caipiao_id = #{lotterytypeid,jdbcType=INTEGER}
    <if test="lotteryid != 0" >
      AND kuaileshifen_prize.open_id <![CDATA[<]]> #{lotteryid}
    </if>
    AND kuaileshifen_prize.open_date <![CDATA[!=]]> ""
      ORDER BY kuaileshifen_prize.open_id DESC
    LIMIT 0,#{pageSize}
  </select>

  <!--开奖详情-->
  <select id="KLSFDetails" resultType="map" parameterType="map" >
    SELECT
      kuaileshifen_prize.open_id AS lotteryid,
      kuaileshifen_prize.open_date AS opendate,
      kuaileshifen_prize.issue_no AS issueno,
      kuaileshifen_prize.number,
      kuaileshifen_prize.refer_number AS refernumber,
      kuaileshifen_prize.sale_amount AS saleAmount,
      kuaileshifen_prize.total_money AS totalmoney,
      kuaileshifen_prize.open_id AS opendate,
      caipiao.caipiao_name AS lotteryname
    FROM
      kuaileshifen_prize JOIN caipiao ON
      caipiao.caipiao_id = kuaileshifen_prize.caipiao_id
      AND kuaileshifen_prize.open_id = #{lotteryid,jdbcType=INTEGER}
      AND caipiao.caipiao_id = #{lotterytypeid,jdbcType=INTEGER}

  </select>

  <!--快乐十分顶部开奖信息最新一期的开奖结果-->
  <select id="KLSFNewInfo" resultType="map">
    SELECT
      kuaileshifen_prize.issue_no AS olddate,
      kuaileshifen_prize.number AS resultdate
    FROM
      kuaileshifen_prize
    ORDER BY kuaileshifen_prize.open_id DESC
    LIMIT 1
  </select>

  <!--快乐十分遗漏期数-->
  <select id="YiLouNum" resultType="map">
    select
      kuaileshifen_prize.number AS winnumber
    from kuaileshifen_prize
    ORDER BY kuaileshifen_prize.create_time DESC
    LIMIT 50
  </select>

  <!--查询数据库是否已经存在-->
  <select id="isquerywinklsf" resultType="java.lang.String">
    SELECT
      kuaileshifen_prize.issue_no
    FROM
      kuaileshifen_prize
    WHERE
      kuaileshifen_prize.issue_no = #{issueno} LIMIT 1
  </select>

  <!--快乐十分顶部开奖信息H5-->
  <select id="TopWinInfoKLSF" resultType="map">
    SELECT
      kuaileshifen_prize.open_date AS opendate,
      kuaileshifen_prize.issue_no AS issueno,
      kuaileshifen_prize.refer_number AS refernumber,
      kuaileshifen_prize.number
    FROM
      kuaileshifen_prize
    ORDER BY kuaileshifen_prize.open_date DESC
    LIMIT 1
  </select>


  <select id="selectwinnumberklsf" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from kuaileshifen_prize
    where  issue_no = #{issueNo,jdbcType=VARCHAR}
  </select>
  <select id="queryOpenWinNumberInfoKLSF" resultType="map" parameterType="java.lang.String" >
    SELECT
    kuaileshifen_prize.number
    FROM
    kuaileshifen_prize
    where issue_no = #{issueno,jdbcType=VARCHAR}
  </select>
</mapper>