<?xml version="1.0"  encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd
                http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
    <context:annotation-config />
	
    <context:property-placeholder location="classpath:*.properties" />
	
    <context:component-scan base-package="com.oruit.app.http.action" />
	
    <mvc:resources mapping="/resources/**" location="/resources/" />
    <mvc:resources mapping="/uploadimg/**" location="file:d:/home/upload"  cache-period="31556926"/>
	 
    <aop:aspectj-autoproxy/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="4096000" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>
	
	
    <bean id="localeResolver"
          class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="cookieName" value="language" />
        <property name="defaultLocale" value="zh_CN" />
    </bean>
	
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <property name="interceptors">
            <list>
                <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
                    <property name="paramName" value="lang" />
                </bean>
                <bean class="com.oruit.app.web.interceptor.AdminAccessInterceptor" >
                    <property name="excludedUrls">
                        <list>
                            <value>/login</value>
                            <value>/login.json</value>
                            <value>/upload.json</value>
                            <value>/download</value>
                            <value>/generateImage</value>
                            <value>/flow</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
	
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jsonConverter" />
                <ref bean="stringHttpMessageConverter" />
            </list>
        </property>
    </bean>
		
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
   
    
    <!--异常处理-->
    <bean id="exceptionHandler" class="com.oruit.app.http.util.ExceptionHandle"/>
    
    <!-- freemarker的配置 -->
    <bean id="freemarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/views/" />
        <property name="defaultEncoding" value="UTF-8" />
        <!--   自定义标签     
            <property name="freemarkerVariables">
            <map>
                <entry key="topMenu" value-ref="topMenuTag"></entry>
                <entry key="leftMenu" value-ref="leftMenuTag"></entry>
            </map>
        </property>-->
       <!-- <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">10</prop>
                <prop key="locale">en_US</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="number_format">#.##</prop>
                <prop key="auto_import">common/common.html as common</prop>
                <prop key="template_exception_handler">ignore</prop>
            </props>
        </property>-->
    </bean>
	
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="viewClass" value="com.oruit.app.util.web.BmsFreeMarkerView" />
        <property name="suffix" value=".html" />
        <property name="contentType" value="text/html;charset=UTF-8" />
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
        <property name="exposeSpringMacroHelpers" value="true" />
        <property name="requestContextAttribute" value="request" />
    </bean>
    
    <bean id="jsonConverter"
          class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
        <property name="supportedMediaTypes" value="application/json;charset=UTF-8" />
    </bean>

    <bean id="stringHttpMessageConverter"
          class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes" value="text/plain;charset=UTF-8" />
    </bean>



</beans>