<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>服务条款</title>
	<link rel="stylesheet" href="css/reset.css" />
	<style>
		.container{padding:.2rem .2rem}
		.container>h1{font-size:.5rem;text-align: center;}
		.cont h1{font-size:.38rem;}
		p{font-size:.24rem;color:#333;text-indent:.5rem;text-align:justify;}
	</style>
</head>
<body>
	<script>
		(function(doc, win) {
		    var docEl = doc.documentElement,
		        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
		        recalc = function() {
		            var clientWidth = docEl.clientWidth;
		            if (!clientWidth) return;
		            if (clientWidth >= 750) {
		                docEl.style.fontSize = '100px';
		            } else {
		                docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
		            }
		        };
		    if (!doc.addEventListener) return;
		    win.addEventListener(resizeEvt, recalc, false);
		    doc.addEventListener('DOMContentLoaded', recalc, false);
		})(document, window);
	</script>
	<div class="container">
		<h1>用户服务及隐私条款</h1>
		<div class="cont">
			<p>站属委托平台（以下简称“本平台”）。在本平台登记注册的用户，并同意以下条款，方有资格享受本平台提供的相关服务，并受本规则条款的约束。用户使用本平台服务即意味着同意本规则，使用前请认真阅读。本平台对本规则拥有最终解释权。</p>
			<h1>一、相关定义</h1>
			<p>1、用户：指在本平台注册登记，并得到本平台认可，有资格享受本平台服务的注册会员。</p>
			<p>2、用户注册资料：指用户在注册时提供的个人信息，包括但不限于：用户名、注册账户密码、银行卡账户及密码、用户真实姓名、身份证号码等。</p>
			<h1>二、规则须知</h1>
			<p>1、严禁任何形式的恶意注册以及冒充、模仿本平台创始人进行注册；严禁冒用党和国家领导人或冒用其他社会名人的真实姓名、字、号、艺名、笔名、昵称注册；严禁以国家组织机构或其他组织机构的名称注册；严禁以带广告性质、不文明、不健康的ID和昵称注册；严禁以对其他用户进行人身攻击、谩骂、诋毁称呼注册；严禁其他本平台认为不适宜的账户名注册。因各种形式的恶意注册而造成本平台的损失，本平台有权采取包括但不限于冻结账户资金、扣除账户资金等手段向用户追偿并禁止用户使用上述账户名，造成的其他一切后果，由用户自行承担。</p>
			<p>2、本平台保证不对外公开或向第三方提供单个用户的注册资料，但下列情况除外： </p>
			<p>（1）事先获得用户的明确授权；</p>
			<p>（2）根据有关的法律法规要求；</p>
			<p>（3）按照相关政府主管部门的要求；</p>
			<p>（4）为维护社会公众的利益； </p>
			<p>在不透露单个用户隐私资料的前提下，本平台有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</p>
			<h1>三、用户帐号冻结、暂停和终止使用</h1>
			<p>1.用户帐号冻结</p>
			<p>帐号冻结指用户可以正常登录本平台，但无法对其帐号进行任何操作，用户同意出现如下情况本平台有权不经通知单方面判断并对其帐号进行冻结：</p>
			<p>（1）本平台其他服务说明及约定中所涉及的帐号冻结条件。</p>
			<p>2.用户帐号暂停</p>
			<p>帐号暂停指用户暂时无法正常登录本平台，暂时无法对其帐号进行任何操作，用户同意出现如下情况本平台有权不经通知单方面暂停用户使用其帐号权利：</p>
			<p>（1）本平台进行系统升级的情况。</p>
			<p>（2）本平台因硬件故障、黑客攻击等无法正常提供服务的情况。</p>
			<p>（3）本平台系统公告出暂停服务的情况。</p>
			<p>（4）本平台其他服务说明及约定中所涉及的帐号暂停条件。</p>
			<p>3.用户帐号终止使用</p>
			<p>帐号终止使用指用户的帐号已被本平台收回并停止服务，用户的行为过程中没有给本平台造成损失，如果用户的行为已经给本平台造成损失，用户需要承担相应经济责任，用户同意出现如下情况本平台有权先采，用帐号冻结处理方式要求其对如下行为进行解释，如5个工作日内用户没有合理解释本平台有权终止其帐号：</p>
			<p>（1）用户被认定为正在或曾经利用其个人帐号恶意破坏本平台服务系统平台。</p>
			<p>（2）用户利用本平台信息发布系统，发布违反法律、法规所规定的信息、文章等的行为。</p>
			<p>（3）未经本平台许可，用户擅自利用本平台所提供的服务进行经营。</p>
			<p>（4）本平台其他服务说明及约定中所涉及的帐号终止使用条件。</p>
			<h1>四、有关责任和争端的处理</h1>
			<p>（一）发生下列情况时本平台不予承担任何法律责任：</p>
			<p>1、由于用户将密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露，以及由此产生的纠纷。无论何种原因导致的用户资料未授权使用、修改，用户密码注册信息被未授权篡改、盗用而产生的一切后果。</p>
			<p>2、任何由于黑客攻击、计算机病毒侵入或发作、网络供应商原因、因政府管制而造成的暂时性关闭等影响网络正常经营之不可抗力而造成的个人资料或委托投注指令泄露、丢失、被盗用、被篡改或网络线路中断等，以及由此产生的纠纷。</p>
			<p>3、由于与本平台链接的其它网站所造成之个人资料泄露及由此而导致的任何争议和后果。</p>
			<p>4、本平台定期检查，或更新软硬件而造成的服务中断；突发性的软硬件设备与电子通信设备故障产生的纠纷。</p>
			<p>5、用户原因或第三方原因造成损失；由于用户自身原因或违反法律法规，以及第三方的原因，造成用户无法使用本平台服务或产生其他损失的。</p>
			<p>6、对在任何情况下因使用或不能使用本平台服务所产生的直接、间接、偶然、特殊及后续的损害及风险，本平台及合作单位不承担任何责任。</p>
			<p>（二）如使用本平台出现纠纷，用户同意将纠纷交由本平台所在地有管辖权的人民法院管辖。</p>
			<p>（三）本平台有权对本规则及服务条款进行修改、调整或补充，并不另行通知公告。若用户继续使用本平台服务，则视为已阅读并接受该等修改、调整或补充，如不同意，则用户须主动终止使用本平台服务。本平台拥有随时修改或中断服务而不需知照用户的权利。</p>
		</div>
	</div>
</body>
</html>